Repository cutls/isolittlify, changes with the labels that .github/labeler.yml gives for each.
All labels: 💻 Client, ☁️ Server

forked init
  .env.example
  README.md
  package.json
  packages/client/package.json
  packages/client/src/component/Config.tsx
  packages/client/src/component/Controller.tsx
  packages/client/src/component/LoginScreen.tsx
  packages/client/src/component/NoStateScreen.tsx
  packages/client/src/component/Player.tsx
  packages/client/src/images/mastodon.svg
  packages/client/src/index.html
  packages/client/src/index.tsx
  packages/client/src/manifest.webmanifest
  packages/client/src/style/index.css
  packages/server/src/index.ts
  packages/server/src/routes/v1/index.ts
  yarn.lock
Labels: 💻 Client, ☁️ Server

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

update
  README.md
  packages/client/src/component/Artists.tsx
  packages/client/src/component/Controller.tsx
  packages/client/src/component/ExternalLink.tsx
  packages/client/src/component/NoStateScreen.tsx
  packages/client/src/component/Player.tsx
  packages/client/src/component/SpotifyURILink.tsx
  packages/client/src/component/shortcut.ts
  packages/client/src/index.tsx
  packages/server/src/routes/v1/index.ts
Labels: 💻 Client, ☁️ Server

fi
  packages/client/src/index.tsx
Labels: 💻 Client

instance set
  .env.sample
  packages/client/src/component/Config.tsx
  packages/client/src/component/Controller.tsx
  packages/client/src/component/ExternalLink.tsx
  packages/client/src/component/Player.tsx
  packages/client/src/index.tsx
Labels: 💻 Client

draggable
  packages/client/src/component/Player.tsx
Labels: 💻 Client

ctrl+R to reload
  packages/client/src/component/shortcut.ts
Labels: 💻 Client

.github/labeler.yml:

💻 Client:
  - packages/client/**/*
☁️ Server:
  - packages/server/**/*
